body{
    background-image: url("../image/register.jpg");
    background-size: cover;
}

form{
    background-color: rgba(255, 255, 255, 0.4);
}
.personnel{
    background-color: rgba(255, 255, 255, 0.4);
    display: none;
}
.eleves{
    background-color: rgba(231, 8, 131, 0.719);
    border-radius: 10px;
    color: rgb(27, 1, 1);
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}
.personnels{
    background-color: rgba(8, 30, 231, 0.719);
    border-radius: 10px;
    color: rgb(27, 1, 1);
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}